<html>
    <head>
        <link rel="stylesheet" type="text/css" href="document.css">
    </head>
    <body>
        <div class="document">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et justo dui. Vivamus sit amet diam tortor. Maecenas cursus enim ex, non ultricies erat sollicitudin quis. Cras lacus tortor, varius eu iaculis at, tempor ac mauris. Fusce maximus ipsum eros, vitae suscipit arcu interdum id. Aliquam nec sagittis eros, quis tincidunt justo. Curabitur facilisis commodo urna vitae tempus. Maecenas auctor ultrices lobortis. Nullam eu ligula at mauris maximus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum feugiat arcu vel arcu volutpat blandit. Fusce luctus erat at augue porta, porttitor scelerisque risus accumsan.</p>
        </div>
    </body>
</html>
